--extra-index-url https://download.pytorch.org/whl/cu124

timm
numpy==1.26.4
kornia
scipy
psutil
GPUtil
spandrel>=0.5.0
yt-dlp
requests
alive-progress
scenedetect[opencv]
pytorch-lightning
inquirer
pymediainfo
onnx==1.16.0
onnxruntime-gpu>=1.19.0
opencv-python
rich-argparse
colored
torch==2.5.0
torchvision==0.20.0
